@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
*{
    font-family:sans-serif;
  }
  .card-description
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width:200px;
    /* min-height:200px;
    max-height:400px; */
    text-align:center;
    padding:10px;
    margin:0 100px 0 100px;
    background-color:lightblue;
  }
  .btn
  {
    background:black;
    color:white;
    padding:10px 20px;
    border:1px solid black;
    border-radius:15px;
    cursor:pointer;
    font-family: system-ui;
    margin:30px 0 10px 0;
  }